In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import json
from scipy.stats import linregress
from pprint import pprint

In [2]:
Weather_Path = "Clean Data/SAWeatherAll.csv"
Drought_Path = "Clean Data/BexarCountyDrought.csv"
J17_well_Path = "Clean Data/j17.csv"


Weather_Data_df = pd.read_csv(Weather_Path, encoding="utf-8")
Drought_Data_df = pd.read_csv(Drought_Path, encoding="utf-8")
J17_well_Data_df = pd.read_csv(J17_well_Path, encoding="utf-8")

In [3]:
Weather_Data_df

,Unnamed: 0,Month,Day,Year,Temp Max,Temp Avg,Temp Min,Humidity Max,Humidity Avg,Humidity Min,Precipitation
0,0,Jan,1,2016,49,46.3,44,73,61.5,51,0.00
1,1,Jan,2,2016,48,45.0,43,93,67.2,48,0.00
2,2,Jan,3,2016,61,47.7,35,96,75.6,49,0.22
3,3,Jan,4,2016,57,42.7,33,93,67.6,37,0.00
4,4,Jan,5,2016,57,44.9,30,96,74.4,55,0.00
...,...,...,...,...,...,...,...,...,...,...,...
2398,207,Jul,27,2022,101,86.5,74,93,61.2,28,0.00
2399,208,Jul,28,2022,100,86.2,76,94,63.1,31,0.00
2400,209,Jul,29,2022,100,86.8,76,94,63.0,31,0.00
2401,210,Jul,30,2022,100,87.6,73,96,56.7,27,0.00
2402,211,Jul,31,2022,100,86.7,76,94,60.1,25,0.00

In [6]:
#we only need to filter for last 5 years
# double check and ensure its J17 only
#clean it 

J17_well_Data_df = J17_well_Data_df.dropna()
J17_well_Data_df

       Site DailyHighDate  WaterLevelElevation
0     J17WL      7/5/2022               635.98
1     J17WL      7/4/2022               636.85
2     J17WL      7/3/2022               637.15
3     J17WL      7/2/2022               636.71
4     J17WL      7/1/2022               636.55
...     ...           ...                  ...
2373  J17WL      1/5/2016               667.55
2374  J17WL      1/4/2016               667.70
2375  J17WL      1/3/2016               666.69
2376  J17WL      1/2/2016               666.37
2377  J17WL      1/1/2016               666.70

[2378 rows x 3 columns]

In [ ]:
#Weather_Data_df

# we need to combine Date Month and Year by creating a new column and use the .todate function at the end

In [7]:
Drought_Data_df

,map date,FIPS,County,State,None,D0,D1,D2,D3,D4,ValidStart,ValidEnd,StatisticFormatID
0,20220726,48029,Bexar County,TX,0.00,100.00,100.00,100.00,100.0,54.07,7/26/2022,8/1/2022,1
1,20220719,48029,Bexar County,TX,0.00,100.00,100.00,100.00,100.0,54.07,7/19/2022,7/25/2022,1
2,20220712,48029,Bexar County,TX,0.00,100.00,100.00,100.00,100.0,55.08,7/12/2022,7/18/2022,1
3,20220705,48029,Bexar County,TX,0.00,100.00,100.00,100.00,100.0,27.38,7/5/2022,7/11/2022,1
4,20220628,48029,Bexar County,TX,0.00,100.00,100.00,100.00,100.0,49.45,6/28/2022,7/4/2022,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
257,20170822,48029,Bexar County,TX,91.27,8.73,0.09,0.00,0.0,0.00,8/22/2017,8/28/2017,1
258,20170815,48029,Bexar County,TX,93.08,6.92,0.09,0.00,0.0,0.00,8/15/2017,8/21/2017,1
259,20170808,48029,Bexar County,TX,0.00,100.00,1.74,0.00,0.0,0.00,8/8/2017,8/14/2017,1
260,20170801,48029,Bexar County,TX,0.00,100.00,93.41,1.75,0.0,0.00,8/1/2017,8/7/2017,1
261,20170725,48029,Bexar County,TX,0.00,100.00,85.98,1.75,0.0,0.00,7/25/2017,7/31/2017,1

In [8]:
#Drought_Data_df

# Groupby Month and do the avg. for each month which will be utilized for daily avg. value

In [ ]:
#After we have cleaned data we will do the 10- day bucket sort to compare water days restrictons
#we are looking for the date and a "drought level" (D01, D02, D03, D04) we will use both J17_well_Data_df and Drought_Data_df

In [ ]:
#based on new data, start analyzing if the following day had higher vs lower vs equal compared to the restriction day.
#It will be a For loop thru previous cell using the +1

#Final data will be used to creat plots