In [7]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import json
from scipy.stats import linregress
from pprint import pprint

In [8]:
Weather_Path = "Clean Data/SAWeatherAll.csv"
Drought_Path = "Clean Data/BexarCountyDrought.csv"
J17_well_Path = "Clean Data/j17.csv"


Weather_Data_df = pd.read_csv(Weather_Path, encoding="utf-8")
Drought_Data_df = pd.read_csv(Drought_Path, encoding="utf-8")
J17_well_Data_df = pd.read_csv(J17_well_Path, encoding="utf-8")

In [9]:
Weather_Data_df

,Unnamed: 0,Month,Day,Year,Temp Max,Temp Avg,Temp Min,Humidity Max,Humidity Avg,Humidity Min,Precipitation
0,0,Jan,1,2016,49,46.3,44,73,61.5,51,0.00
1,1,Jan,2,2016,48,45.0,43,93,67.2,48,0.00
2,2,Jan,3,2016,61,47.7,35,96,75.6,49,0.22
3,3,Jan,4,2016,57,42.7,33,93,67.6,37,0.00
4,4,Jan,5,2016,57,44.9,30,96,74.4,55,0.00
...,...,...,...,...,...,...,...,...,...,...,...
2398,207,Jul,27,2022,101,86.5,74,93,61.2,28,0.00
2399,208,Jul,28,2022,100,86.2,76,94,63.1,31,0.00
2400,209,Jul,29,2022,100,86.8,76,94,63.0,31,0.00
2401,210,Jul,30,2022,100,87.6,73,96,56.7,27,0.00
2402,211,Jul,31,2022,100,86.7,76,94,60.1,25,0.00

In [10]:
#we need to clean the data and have only filter for last 5 years
# double check and ensure its J17 only

J17_well_Data_df

        Site DailyHighDate  WaterLevelElevation
0      J17WL    2022-07-05               635.98
1      J17WL    2022-07-04               636.85
2      J17WL    2022-07-03               637.15
3      J17WL    2022-07-02               636.71
4      J17WL    2022-07-01               636.55
...      ...           ...                  ...
31937  J17WL    1932-11-16               675.74
31938  J17WL    1932-11-15               675.92
31939  J17WL    1932-11-14               675.97
31940  J17WL    1932-11-13               675.82
31941  J17WL    1932-11-12               675.60

[31942 rows x 3 columns]